/*borda da tabela*/
table, th, td {
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

th{
    background-color: #03baff;
    color: #fff;
    font-size: 17px;
}

td{
    background-color: #fff;
    font-size: 17px;
}

colgroup{
    width: 150px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
