
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');
*{
    box-sizing: border-box; 
    font-family: 'Poppins',sans-serif;
    justify-content: center;
    min-height: 4vh;
}

body{
    padding: 120px 450px;
    background-color: transparent;

}

.pagina{
    justify-content: center;
    align-items: center;
}

.stylo{
   
   text-align: center;
   width: 50%;
   max-width: 450px;
   padding: 15px 30px;
   border-radius: 30px;
   background: #fff;
   color: #03bcff;
   font-size: 20px;
   box-shadow: 0 15px 25px rgba(95, 95, 95, 0.335);
   position: absolute;
}
/*design do botão*/
.button{  
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}
/*design do botão ao passar o mouse*/
.button:hover {
    background-color: greenyellow;
}
/*design do botão ativado*/
.button:active {
  background-color: greenyellow;
  box-shadow: 0 5px rgb(128, 246, 128);
  transform: translateY(4px); 
   width: 50px;
   border-radius: 12px;
   font-size: 10px;
   color: #fff;

  
}

.res{
    font-size: 20px;
    width: 50%;
    padding: 2px;
    border: 0 none;
    outline: 0;
}

.numeros{
    padding: 5px ;
    font-size: 20px;
    border-radius: 6px;
    border-color: rgba(83, 215, 255, 0.596);
    color: #03bcff;
    
}

.numeros:hover{
    background-color: #03bcff;
    box-shadow: 0 3px #03bcff67;
    transform: translateY(4px);
    color: #fff;

}
/*esse é css do numero automatico que fica nas caixinhas*/
input{
    text-align: center;
}
/*esse é css efeito que fica nas caixinhas*/

/*esse é css do resultado*/
input::placeholder{
    color: #03bcff;
    background-color: #fff;
}

